.upper {
  display: block;
  margin: 10px auto;
}
.upper h1 {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  display: block;
  text-align: center;
}
.upper img {
  width: 200px;
}
.doctor-pic {
  display: flex;
  margin-top: 40px;
}
.vl {
  margin-left: 30px;
  border-left: 4px solid blue;
  height: 350px;
}
.doctor-1 {
  display: flex;
  width: 33%;
}
.doctor-2 {
  display: flex;
  width: 33%;
}
.doctor-3 {
  display: flex;
  width: 33%;
}
